---
import OlympusCourierLayout from "../../layouts/OlympusCourierLayout.astro";
---

<OlympusCourierLayout>
  <div class="flex flex-col items-center justify-between mb-10 md:flex-row">
    <img
      src="/olympus_courier.png"
      alt="Logo Olympus Courier"
      class="w-[240px]"
    />
    <img
      src="/atmosfera.png"
      alt="Logo Atmosfera Soluciones Tecnologicas"
      class="w-[180px]"
    />
  </div>

  <h1 class="mb-6 text-3xl font-bold text-center text-gray-900">
    驴C贸mo eliminar tu cuenta en Olympus Courier?
  </h1>

  <section class="p-6 bg-white shadow-md rounded-2xl">
    <p class="mb-4">
      Si deseas eliminar tu cuenta de la aplicaci贸n <strong
        >Olympus Courier</strong
      >, sigue estos pasos sencillos desde tu dispositivo:
    </p>

    <h2 class="mt-6 mb-2 text-xl font-semibold">
      Pasos para eliminar tu cuenta:
    </h2>
    <ul class="space-y-2 list-decimal list-inside">
      <li>
        Abre la aplicaci贸n <strong>Olympus Courier</strong> en tu tel茅fono.
      </li>
      <li>Inicia sesi贸n con tu cuenta.</li>
      <li>
        Dir铆gete a la secci贸n <strong>Configuraci贸n</strong> o <strong
          >Perfil</strong
        >.
      </li>
      <li>Selecciona la opci贸n <strong>Eliminar cuenta</strong>.</li>
      <li>Confirma tu decisi贸n cuando se te solicite.</li>
    </ul>

    <p class="mt-6">
      Una vez completado este proceso, tu cuenta ser谩 eliminada de forma
      permanente y tus datos asociados ser谩n removidos del sistema en
      conformidad con nuestra pol铆tica de privacidad.
    </p>

    <h2 class="mt-6 mb-2 text-xl font-semibold">驴Necesitas ayuda?</h2>
    <p class="mb-4">
      Si encuentras dificultades o necesitas asistencia adicional para eliminar
      tu cuenta, por favor cont谩ctanos a trav茅s de los siguientes medios:
    </p>
    <p class="font-medium"> atmosfera.soltec@gmail.com</p>
    <p class="font-medium"> +51 936416623</p>
  </section>
</OlympusCourierLayout>
